<h1 class="title-heroe">{{ heroe.heroe | uppercase }} <small>({{ heroe.aparicion }})</small> </h1>
<hr>
<div class="row heroe-container">
    <div class="col-md-4">
        <img class="img-fluid rounded" src="../../../assets/{{ heroe.img }}" alt="{{ heroe.heroe }}">
        <a [routerLink]="['/heroes']" class="btn btn-primary btn-block heroe-button d-none d-md-block">Volver</a>
    </div>
    <div class="col-md-8">
        <p class="heroe-text">
            {{ heroe.poder }}
        </p>
    </div>
    <div class="col-md-12 d-md-none d-sm-block">
        <a [routerLink]="['/heroes']" class="btn btn-primary btn-block heroe-button">Volver</a>
    </div>
</div>