/* You can add global styles to this file, and also import other style files */

body {
    padding-bottom: 40px;
}

.title-heroe {
    margin-top: 30px;
}

.heroe-container {
    margin-top: 30px;
}

.heroe-button {
    margin-top: 20px;
}

@media (max-width: 576px) {
    .heroe-text {
        margin-top: 20px;
    }
}